<footer id="footer">
  <div class="footer-container">
    <div id="nrtfootereditors">
      <div class="content-50">
        <div class="footer-top">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12  ">
                <div class="column-inner ">
                  <div class="logo_footer">
                    <a href="/default/en/">
                      <img class="img-responsive" src="/default/img/logo.png" alt="" width="152" height="72" />
                    </a>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis
                      <br />eros. Nullam malesuada erat ut turpis.</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12  ">
                <div class="column-inner ">
                  <div class="links box-links social_footer">
                    <h3 class="hidden-lg-up">Follow Us</h3>
                    <div class="title hidden-lg-up" data-target="#footer_sub_menu_col_follow" data-toggle="collapse">
                      <div class="navbar-toggler collapse-icons">
                        <div class="fa fa-plus add"></div>
                        <div class="fa fa-minus remove"></div>
                      </div>
                    </div>
                    <ul id="footer_sub_menu_col_follow" class="collapse wrapper-social">
                      <li>
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-google-plus"></a>
                        <a href="#" class="fa fa-pinterest"></a>
                        <a href="#" class="fa fa-linkedin"></a>
                        <a href="#" class="fa fa-skype"></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-1">
        <div class="footer-center">
          <div class="container">
            <div class="row main-block">
              <div class="col-xs-12 col-sm-12 col-md-3 empty-column">
                <div class="column-inner ">
                  <div class="content-42">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="column-inner ">
                          <div class="links contact_ft">
                            <div class="box-links">
                              <h3>CONTACT US</h3>
                              <div class="title hidden-lg-up" data-target="#footer_sub_menu_col_contact" data-toggle="collapse">
                                <div class="navbar-toggler collapse-icons">
                                  <div class="fa fa-plus add"></div>
                                  <div class="fa fa-minus remove"></div>
                                </div>
                              </div>
                              <ul id="footer_sub_menu_col_contact" class="collapse">
                                <li>
                                  <div class="fa fa-home"></div>
                                  <div class="right-contact">
                                    <span>123 New Design Str, ABC
                                      <br />Building,
                                      <br />Melbourne, Australia</span>
                                  </div>
                                </li>
                                <li>
                                  <div class="fa fa-phone"></div>
                                  <div class="right-contact">
                                    <span>(+1)866-550-3669</span>
                                  </div>
                                </li>
                                <li>
                                  <div class="fa fa-envelope-square"></div>
                                  <div class="right-contact">
                                    <a href="#">Contact@yoursite.com</a>
                                  </div>
                                </li>
                                <li>
                                  <div class="fa fa-clock-o"></div>
                                  <div class="right-contact">
                                    <span>Mon - Sat : 8 AM - 5 PM
                                      <br />Sun: 9 AM - 8 PM</span>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-3 empty-column">
                <div class="column-inner ">
                  <div class="content-43">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="column-inner ">
                          <div class="links bullet">
                            <div class="box-links">
                              <h3>INFORMATION</h3>
                              <div class="title hidden-lg-up" data-target="#footer_sub_menu_col_information" data-toggle="collapse">
                                <div class="navbar-toggler collapse-icons">
                                  <div class="fa fa-plus add"></div>
                                  <div class="fa fa-minus remove"></div>
                                </div>
                              </div>
                              <ul id="footer_sub_menu_col_information" class="collapse">
                                <li>
                                  <a href="#" title="">Shipping</a>
                                </li>
                                <li>
                                  <a href="#" title="">Customer Service / FAQ’s</a>
                                </li>
                                <li>
                                  <a href="#" title="">Free shipping</a>
                                </li>
                                <li>
                                  <a href="#" title="">Privacy Policy</a>
                                </li>
                                <li>
                                  <a href="#" title="">Delivery Information</a>
                                </li>
                                <li>
                                  <a href="#" title="">Specials</a>
                                </li>
                                <li>
                                  <a href="#" title="">Manufactureres</a>
                                </li>
                                <li>
                                  <a href="#" title="">Site Map</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-3 empty-column ">
                <div class="column-inner ">
                  <div class="content-54">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12  ">
                        <div class="column-inner ">
                          <div class="links bullet">
                            <div class="box-links">
                              <h3>QUICK LINKS</h3>
                              <div class="title  hidden-lg-up" data-target="#footer_sub_menu_col_quick_links" data-toggle="collapse">
                                <div class="navbar-toggler collapse-icons">
                                  <div class="fa fa-plus add"></div>
                                  <div class="fa fa-minus remove"></div>
                                </div>
                              </div>
                              <ul id="footer_sub_menu_col_quick_links" class="collapse">
                                <li>
                                  <a href="#" title="">New User</a>
                                </li>
                                <li>
                                  <a href="#" title="">Help Center</a>
                                </li>
                                <li>
                                  <a href="#" title="">Refund Policy</a>
                                </li>
                                <li>
                                  <a href="#" title="">Report Spam</a>
                                </li>
                                <li>
                                  <a href="#" title="">Official stockist of all brands</a>
                                </li>
                                <li>
                                  <a href="#" title="">Secure checkout</a>
                                </li>
                                <li>
                                  <a href="#" title="">The best customer service</a>
                                </li>
                                <li>
                                  <a href="#" title="">My personal info</a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-3 empty-column ">
                <div class="column-inner ">
                  <div class="content-28">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-12  ">
                        <div class="column-inner ">
                          <div class="links">
                            <div class="box-links">
                              <h3>Newsletter</h3>
                              <div class="title hidden-lg-up" data-target="#footer_sub_menu_col_email" data-toggle="collapse">
                                <div class="navbar-toggler collapse-icons">
                                  <div class="fa fa-plus add"></div>
                                  <div class="fa fa-minus remove"></div>
                                </div>
                              </div>
                              <div id="footer_sub_menu_col_email" class="collapse">
                                <div class="newsletter">
                                  <form action="http://demo.axonvip.com/default/en/#footer" method="post">
                                    <input name="name" type="text" placeholder="Your name">
                                    <input class="input-email" name="email" type="text" value="" placeholder="Your email address">
                                    <button class="button-email title_font" name="submitNewsletter" type="submit">
                                      Subscribe
                                    </button>
                                    <input type="hidden" name="action" value="0">
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12  ">
                        <div class="column-inner ">
                          <div class="links box-links payment">
                            <h3 class="hidden-lg-up">payment</h3>
                            <div class="title hidden-lg-up" data-target="#footer_sub_menu_col_payment" data-toggle="collapse">
                              <div class="navbar-toggler collapse-icons">
                                <div class="fa fa-plus add"></div>
                                <div class="fa fa-minus remove"></div>
                              </div>
                            </div>
                            <ul id="footer_sub_menu_col_payment" class="collapse">
                              <li>
                                <a href="#">
                                  <img class="img-responsive" src="/default/modules/nrtfootereditors/images/payment_footer.png" alt="" width="232" height="21"
                                  /> </a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-7">
        <div class="footer-bottom">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12  ">
                <div class="column-inner ">
                  <div class="row">
                    <div class="footer-address">
                      <p>
                        <a href="#"> Axon</a> © 2017
                        <a href="#"> AxonVIP</a>. All rights reserved.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="moda_popupnewsletter" class="modal fade nrtpopup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="max-width:770px;;">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="nrtpopupnewsletter" style="width:770px;height:450px;background-image: url(/default/modules/nrtpopupnewsletter/img/background_image1.jpg);">
          <div id="newsletter_block_popup">
            <div class="block_content">
              <form action="http://demo.axonvip.com/default/en/" method="post">
                <div class="popup_title title_font">
                  <p>Join Us Now!</p>
                </div>
                <div class="popup_text">
                  <p>And be the first to get the scoop on sales exclusive offers
                    <br />and new arrivals.</p>
                </div>
                <span class="item-countdown">
                  <span class="bg_tranp"></span>
                  <span class="item-countdown-time" data-time="2016-08-10 03:38:00"></span>
                </span>
                <div class="send-response"></div>
                <input class="inputNew form-control" id="newsletter-input-popup" type="text" name="email" placeholder="Enter Email Address Here"
                />
                <div class="send-reqest button_unique main_color_hover title_font">Subscribe</div>
              </form>

              <div class="social_footer">
                <ul>
                  <li>
                  </li>
                </ul>
              </div>
            </div>
            <div class="newsletter_block_popup-bottom">
              <input id="newsletter_popup_dont_show_again" type="checkbox">
              <label for="newsletter_popup_dont_show_again">Don&#039;t show this popup again</label>
            </div>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

  <div id='footer-bar'>
    <div id="bar-left-column" class="hidden-lg-up">
      <i class="fa fa-toggle-left"></i>
      <p>Left Column</p>
    </div>
    <a id="goto-compare" href="http://demo.axonvip.com/default/en/module/nrtcompare/comparator" title="Go To Compare">
      <i class="fa fa-retweet"></i>
      <p>Compare</p>
    </a>
    <div id="back-top">
      <i class="fa fa-chevron-up"></i>
      <p>Back Top</p>
    </div>
    <div id="bar-right-column" class="hidden-lg-up">
      <i class="fa fa-toggle-right"></i>
      <p>Right Column</p>
    </div>
  </div>
</footer>
